html {
  font-size: 16px;
}
@media (max-width: 449px) {
  html {
    font-size: 14px;
  }
  .bandcamp {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background: #18113c url("assets/bg.png");
  background-size: cover;
  background-position: 50% 80%;
}
@media (max-width: 799px) {
  body {
    background-position: 50% 0%;
  }
}

* {
  position: relative;
  color: #fffff7;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 0.13em;
}

.kicker {
  display: block;
  font-size: 0.895rem;
  margin-top: 0.5em;
  font-weight: 400;
}

main {
  padding: 0.475em;
  margin: auto;
}

/* two col */
@media (min-width: 800px) {
  main {
    display: flex;
    align-items: center;
  }
  .content {
    margin-left: 3rem;
    order: 1;
  }
}

.bandcamp {
  flex: 0 0 350px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.5);
  max-width: 100vw;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content {
  text-shadow: 0 1px 0.5em rgba(0, 0, 0, 0.25);
}

.content ul {
  margin-top: 2rem;
  padding-left: 0;
  list-style: none;
}

@media (min-width: 400px) {
  .content ul {
    columns: 2;
    column-gap: 3rem;
  }
}

.content li {
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
}

.content a {
  display: block;
  font-size: 1.325rem;
  line-height: 1.5;
  font-weight: bold;
  color: #bb8186;
  transition: color 0.3s ease-out;
}

.content a:hover,
.content a:focus {
  color: #fffff7;
}
